#company-name {
  margin: 0 0 0 20px;
}
#notes-list {
  margin-left: 20px;
}
.hidden {
  display: none;
}
.open {
  display: inline;
}
#div-for-add-button {
  margin-top: 35px;
}
#add-button {
  font-size: 20px;
}

@media (min-width: 800px) {
  .view-contact-button {
    display: none;
  }
}
