.sidebar {
  height: 85%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#customer-information{
  margin-top: 10%; 
  margin-right: 
}
#company-name{
  margin:0 0 0 20px;
}
#notes-list{
  margin-left: 20px;
}