#thisidhere {
    display: block;
}

.fa-user {
    display: block;
}

.fa-envelope {
    display: block;
}

.fa-envelope {
    display: block;
}

.fa-exclamation-triangle {
    display: block;
}

.fa-lock {
    display: block;
}